.header {
    margin-top: 8%;
    margin-bottom: 40px;
}

.header h1, h4 {
    text-align: center;
    line-height: 16px;
}

.search-buttons {
	width: 100%;
	text-align: center;
}

.search-button {
    border: none;
    padding: 8px 27px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;

    margin: 10px 20px 26px 0px;

    box-shadow: 0px 0px 7px black;
    transition: 0.4s;
}

.album {
	background-color: white;
	color: black;
}

.album:hover {
    background-color: #5D98C6;
    color: white;
    box-shadow: 0px 0px 15px black;
}

.album:hover + .song {
    background-color: white;
    color: black;
}

.song {
	background-color: #5D98C6;
	color: white;
}

.song:hover {
    box-shadow: 0px 0px 15px black;
}

.artist-row {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 46%;
    transform: translateX(-50%);
    top: 120px;

}

.album-result {
    cursor: pointer;
    width: 30%;
}

.album-result img {
    transition: 0.4s;
    position: relative;
    left: 240px;
}

.album-result img:hover {
    filter: drop-shadow(0px 0px 8px);
}

.album-result .caption {
    position: relative;
    text-align: right;
    top: 100px;
    left: -240px;
}

.row2 {
    margin-top: 275px;
}
