.header {
	position: fixed;
	top: 11%;
	width: 100%;
	text-align: center;
	line-height: 15px;
	width: 100%;
	z-index: 6;
	background-color: white;
	opacity: 0.9;
	padding-top: 10px;
}

.lyrics {
	margin-top: 150px;
	text-align: center;
	font-size: 25px;
	width: 100%;
	overflow-wrap: normal;
	list-style-position: outside;
	letter-spacing: 1px;
	line-height: 50px;
}

.bottom-nav-buttons {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #D4E8F7;
}

.verticle-line1 {
	border-left: thick solid #ff0000;
	height: 80px;
	border-width: 3px;
	border-color: black;
	position: fixed;
	margin: -80px 0px 0px 80px;
	opacity: 0.8;
}

.verticle-line2 {
	border-left: thick solid;
	height: 110px;
	border-width: 3px;
	border-color: black;
	position: fixed;
	margin: -30px 0px 0px 105px;
	opacity: 0.8;
}

.verticle-line3 {
	border-left: thick solid;
	height: 140px;
	border-width: 3px;
	border-color: black;
	position: fixed;
	margin: 20px 0px 0px 130px;
	opacity: 0.8;
}

.verticle-line1:hover {
	height: 110px;
	opacity: 1;
}

.verticle-line2:hover {
	height: 140px;
	opacity: 1;
}

.verticle-line3:hover {
	height: 170px;
	opacity: 1;
}

.link1:hover, .link2:hover, .link3:hover {
	cursor: pointer;
	opacity: 1;
}

.link1 {
	margin: -110px 10px 12px -20px;
	opacity: 0.8;
}

.link2 {
	margin: -60px 10px 12px -20px;
	opacity: 0.8;
}

.link3 {
	margin: -100px 10px 12px -19px;
	opacity: 0.8;
}

#sidebar {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
}