.header {
	margin-top: 75px;
	margin-bottom: 0px;
	text-align: center;
	line-height: 15px;
}

.lyrics {
	text-align: center;
	font-size: 25px;
	width: 100%;
	overflow-wrap: normal;
	list-style-position: outside;
	letter-spacing: 1px;
	line-height: 50px;
}