.header {
	margin-top: 75px;
	margin-bottom: 0px;
	text-align: center;
	line-height: 15px;
}

.lyrics {
	text-align: center;
	font-size: 25px;
	width: 100%;
	overflow-wrap: normal;
	list-style-position: outside;
	letter-spacing: 1px;
	line-height: 50px;
}

.bottom-nav-buttons {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #D4E8F7;
}

.verticle-line1 {
	border-left: thick solid #ff0000;
	height: 80px;
	border-width: 3px;
	border-color: black;
	position: fixed;
	margin: -80px 0px 0px 80px;
}

.verticle-line2 {
	border-left: thick solid;
	height: 110px;
	border-width: 3px;
	border-color: black;
	position: fixed;
	margin: -30px 0px 0px 105px;
}

.verticle-line3 {
	border-left: thick solid;
	height: 140px;
	border-width: 3px;
	border-color: black;
	position: fixed;
	margin: 20px 0px 0px 130px;
}

.verticle-line1:hover {
	height: 110px;
}

.verticle-line2:hover {
	height: 140px;
}

.verticle-line3:hover {
	height: 170px;
}

.link1:hover {
	opacity: 1;
}

.link2:hover {
	opacity: 1;
}

.link3:hover {
	opacity: 1;
}

.link1 {
	margin: -110px 10px 12px -20px;
	opacity: 0.8;
}

.link2 {
	margin: -60px 10px 12px -20px;
	opacity: 0.8;
}

.link3 {
	margin: -100px 10px 12px -19px;
	opacity: 0.8;
}

#sidebar {
	position: fixed;
	top: 300px;
}