.header {
	margin-top: 75px;

	text-align: center;
	line-height: 15px;
}

.lyrics {
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
	width: 100%;
	overflow-wrap: normal;
	list-style-position: outside;
	letter-spacing: 1px;
	line-height: 50px;
	/*margin: 0 200 0 200;*/
}