html, body {
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Varela Round', sans-serif;
}

p, input, button {
	font-family: 'Open Sans', sans-serif;
}

/* NAVBAR */

#navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	background-color: #D4E8F7;
}

#navbar h2 {
	margin-left: 92px;
	margin-top: 20px;
	font-size: 30px;
	cursor: pointer;
}

.nav-buttons {
	margin-right: 76px;
}

.nav-button {
    background-color: #2E3137;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;

    margin: 20px 16px 20px 0px;

    box-shadow: 0px 0px 7px black;
    transition: 0.4s;
}

.nav-button:hover {
	background-color: white;
	color: black;
	box-shadow: 0px 0px 15px black;
}

#button-holder img {
    margin:4px;
	width:25px;
	transform: translate(-150%, 100%);
	pointer-events: none;
}

#navbar input {
	margin: auto -5px auto auto;
	background-color: #EDF4F8;
    background-repeat: no-repeat;
    background-position: right;
	border-radius: 25px;
    width: 76px;
    height: 40px;
    transition: width 0.4s ease-in-out;
	font-size: 16px;
	padding-left: 15px;
	padding-right: 45px;

	box-shadow: none !important;
    border: 1px solid #2E3137 !important;
    outline: none;
}

#navbar input:focus {
    width: 15%;
}

/* HOME PAGE - BODY */

#left-home {
	float: left;
	width: 50%;
}

#left-home h1 {
	font-family: 'Varela Round', sans-serif;
	/*font-weight: 500;*/
	font-size: 32px;

	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.music-icon {
	display: block;
	width: 40px;
	height: 40px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 35%;
	transform: translateY(-50%);
}

#left-home input[type=text] {
	display: block;
	margin-left: auto;
	margin-right: auto;

    width: 400px;
    height: 20px;
    transition: width 0.4s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#left-home input[type=text]:focus {
    width: 70%;
}

#right-home {
	display: flex;
	float: left;
	width: 50%;
}

#right-home img {
	position: absolute;
	float: left;
	width: 50%;
}